<ion-card>
  <ion-card-header class="ion-text-center">
    {{ "connection.unreacheable.title" | translate }}
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item> 
        <ion-icon color="success" name="walk" slot="start"></ion-icon>
        1. {{ "connection.unreacheable.step_1" | translate}}
      </ion-item>
      <ion-item>
        <ion-icon color="success" name="wifi" slot="start"></ion-icon>
        2. {{ "connection.unreacheable.step_2" | translate}}
      </ion-item>
      <ion-item>
        <ion-icon color="success" name="game-controller" slot="start"></ion-icon>
        3. {{ "connection.unreacheable.step_3" | translate}}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>