<ion-content padding>
  <h3>Façade interactive Arbalet Frontage</h3>

  <div>
    <p>Bienvenue ! Vous êtes connecté à la façade pixelisée interactive du bâtiment A1 de l'Université de Bordeaux : <b>Arbalet Frontage</b>.</p>
    <p>Arbalet Frontage vous permet de jouer à Tetris ou Snake en utilisant votre smartphone comme manette et la façade extérieure de 300m<sup>2</sup> comme écran : elle dispose de 71 pixels lumineux colorés disposés au niveau de chacune de ses fenêtres.</p>
    <p>En plus d'être jouable, Arbalet Frontage est programmable : nous organisons des ateliers nocturnes en extérieur pour apprendre la programmation et la logique informatique de façon ludique et créative grâce au Pixel Art. Pour connaître la date du prochain atelier, <a href="http://arbalet-project.org/frontage">rdv en ligne</a>.</p>
  </div>

  <div *ngIf="isFacadeUp; else elseBlock;">
    <ion-list>
      <ion-item>
        <ion-label>I'm Admin</ion-label>
        <ion-checkbox [(ngModel)]="isAdmin"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="userName" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="isAdmin">
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="password" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full (click)="start()">Start</button>
      </ion-item>
    </ion-list>
  </div>
  
  <ng-template #elseBlock>
    <div *ngIf="isServerUp; else else2Block;">
      <h2>La façade n'est pas active. Elle sera allumée à {{nextTime | date:"HH'h'mm"}}</h2>
    </div>

    <ng-template #else2Block>
      <h2>Le serveur est indisponible : êtes-vous à proximité de la façade Arbalet Frontage ?</h2>
    </ng-template>

  </ng-template>

  <button ion-button full (click)="testSocket()">web socket</button>
</ion-content>
