<ion-header>
  <ion-navbar>
    <ion-item color="light">
      <ion-title>{{"HOME_PAGE_TITLE" | translate}}</ion-title>
      <language item-end></language>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p>Bienvenue ! Vous êtes connecté à la façade pixelisée interactive du bâtiment A1 de l'Université de Bordeaux :
      <b>Arbalet Frontage</b>.</p>
    <p>Arbalet Frontage vous permet de jouer à Tetris ou Snake en utilisant votre smartphone comme manette et la façade extérieure
      de 300m
      <sup>2</sup> comme écran : elle dispose de 71 pixels lumineux colorés disposés au niveau de chacune de ses fenêtres.</p>
    <p>En plus d'être jouable, Arbalet Frontage est programmable : nous organisons des ateliers nocturnes en extérieur pour
      apprendre la programmation et la logique informatique de façon ludique et créative grâce au Pixel Art. Pour connaître
      la date du prochain atelier,
      <a href="http://arbalet-project.org/frontage">rdv en ligne</a>.</p>
  </div>

  <div *ngIf="isFacadeUp; else elseBlock;">
    <ion-list>
      <ion-item>
        <ion-label>{{"HOME_PAGE_ADMIN_LABEL" | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="isAdmin"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>{{"HOME_PAGE_USER_LABEL" | translate}}</ion-label>
        <ion-input [(ngModel)]="userName" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="isAdmin">
        <ion-label>{{"HOME_PAGE_PWD_LABEL" | translate}}</ion-label>
        <ion-input [(ngModel)]="password" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full (click)="start()">{{"HOME_PAGE_START_BUTTON" | translate}}</button>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #elseBlock>
    <div *ngIf="isServerUp; else else2Block;">
      <h2>{{"HOME_PAGE_FRONTAGE_DOWN_ALERT" | translate}} {{nextTime | date:"HH'h'mm"}}</h2>
    </div>

    <ng-template #else2Block>
      <h2>{{"HOME_PAGE_SERVER_DOWN_ALERT" | translate}}</h2>
    </ng-template>

  </ng-template>

</ion-content>