page-home {
    .bg {
        background-image: url('../../assets/img/background.png');
        background-size:cover;
    }

    .tr {
        background: transparent; 
    }

    ion-header {
        padding: 10px;
    }

    ion-footer {
        background: rgba(0,0,0,0.5);
    }

    .scroll-content {
        align-content: center;
        text-align: center;
        overflow: hidden;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    ion-card-content p {
        color: #fff!important;
    }
}
