page-home {
    .scroll-content {
        align-content: center;
        text-align: center;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    ion-card-content p {
        color: #fff!important;
    }
}
