<ng-template #customHeader>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/admin/tabs/fapp"></ion-back-button>
  </ion-buttons>
  <ion-title>{{ "f_app." + fApp.name + ".name" | translate }}</ion-title>
  <ion-item slot="end">
    <ion-label>
      {{ "f_app.action.scheduled" | translate }}
    </ion-label>
    <ion-toggle (ionChange)="updateScheduled($event)" [checked]="fApp.scheduled" color="success"></ion-toggle>
  </ion-item>
</ng-template>

<app-template
  default="/admin/tabs/fapp"
  [titleKey]="'f_app.' + '.options.title'"
  footerKey="f_app.action.send_parameters"
  footerIcon="flag"
  (clickButton)="sendParameters()"
  [headerTemplate]="customHeader"
> 
<ion-grid>
  <ion-row>
    <ion-col size="6" offset="2">
      <color-chrome color="#fff" (onChange)="handleChange($event)"></color-chrome>
    </ion-col>
  </ion-row>
</ion-grid>
</app-template>