<ion-header>
  <ion-navbar>
    <ion-title>{{"RF_OPTIONS_PAGE_TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div *ngIf="parametersList">
    <ion-list radio-group [(ngModel)]="selectedParameter">
      <ion-list-header>
        {{"COLOR_APP_OPTIONS_PAGE_COLOR_LABEL" | translate}}
      </ion-list-header>
      <ion-item *ngFor="let parameter of parametersList">
        <ion-label>{{ parameter | uppercase | translate}}</ion-label>
        <ion-radio value="{{ parameter }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button ion-button icon-end full color="secondary" class="tr" (click)="startFapp()">
    {{"COLOR_APP_OPTIONS_PAGE_START_BUTTON" | translate}}
    <ion-icon color="secondary" ios="ios-color-wand" md="md-color-wand"></ion-icon>
  </button>
  <button *ngIf="isAdmin" ion-button icon-end full color="secondary" class="tr" (click)="forceFapp()">
    {{"OPTIONS_PAGE_FORCE_START_BUTTON" | translate}}
    <ion-icon color="danger" ios="ios-key" md="md-key"></ion-icon>
  </button>
  <button *ngIf="isAdmin" ion-button icon-end full color="secondary" class="tr" (click)="sendScheduledFappOptions()">
    {{"OPTIONS_PAGE_SEND_SCHEDULER_OPTION_BUTTON" | translate}}
    <ion-icon color="danger" ios="ios-alarm" md="md-alarm"></ion-icon>
  </button>
</ion-footer>