<ion-header>
  <ion-navbar>
    <ion-title>{{"RF_OPTIONS_PAGE_TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div *ngIf="parametersList">
    <ion-list radio-group [(ngModel)]="fAppOptions.params.uapp">
      <ion-list-header>
        {{"COLOR_APP_OPTIONS_PAGE_COLOR_LABEL" | translate}}
      </ion-list-header>
      <ion-item *ngFor="let parameter of parametersList">
        <ion-label>{{ parameter | uppercase | translate}}</ion-label>
        <ion-radio value="{{ parameter }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <options-page-button [fAppOptions]="fAppOptions" [isAdmin]="isAdmin" [joystickPage]="joystickPage" [selectedParameter]="fAppOptions.params.uapp"
    [parametersList]="parametersList" iconKey="color-wand"></options-page-button>
</ion-footer>