<ion-header>
  <ion-navbar>
    <ion-title>fAppList</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="fAppList; else elseBlock;">
      <!-- <div *ngFor="let app of fAppList;"> -->
      <div *ngIf="fAppList.Flags">
        <ion-card>
          <ion-card-header>{{fAppList.Flags.name}}</ion-card-header>
          <ion-card-content>
            <button ion-button primary>Launch app</button>
          </ion-card-content>
        </ion-card>
      </div>
      <!-- </div> -->
    </div>
  <ng-template #elseBlock>
    <h2>Pas d'application</h2>
  </ng-template>
</ion-content>