<ion-header>
  <ion-title item-start>{{"FAPP_PAGE_TITLE" | translate}}</ion-title>
</ion-header>

<ion-content padding class="bg">
  <div *ngIf="fAppList; else elseBlock;">
    <ion-list *ngFor="let fApp of fAppList">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item text-wrap (click)="showOptions(fApp)">
              <p>{{fApp.name | uppercase | translate}}</p>
              <ion-thumbnail item-start>
                <img width="90" height="35" src="assets/img/{{fApp.name}}.jpeg">
              </ion-thumbnail>
              {{fApp.name + "_DESCRIPTION" | uppercase | translate}}
            </ion-item>
          </ion-col>
          <ion-col col-2 *ngIf="isAdmin && fApp.name != 'Snap'" style="display: flex; align-content: center; align-items: center;">
            <ion-checkbox [(ngModel)]="fApp.scheduled" (ionChange)="updateScheduledApp(fApp)"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

  <ng-template #elseBlock>
    <h2>{{"FAPP_PAGE_NO_APP_ALERT" | translate}} </h2>
  </ng-template>
</ion-content>

<ion-footer>
  <button ion-button icon-end full color="secondary" class="tr" *ngIf="isAdmin">
    {{"FAPP_PAGE_ADMIN_BUTTON" | translate}}
    <ion-icon color="danger" ios="ios-hammer" md="md-hammer"></ion-icon>
  </button>
</ion-footer>