<ion-header>
  <ion-title>{{"RAC_PAGE_TITLE" | translate}}</ion-title>
</ion-header>

<ion-content padding class="bg">
    <ion-card>
      <ion-card-header text-wrap color="light" id="instructions" >{{'MESH_INSTRUCTIONS' | translate}} </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header text-wrap id="text" color="light">{{addressedAmount}}/{{totalAmount}} </ion-card-header>
    </ion-card>

    <ion-grid>
        <ion-row no-padding no-margin *ngFor="let row of grid">
            <ion-col  padding-0 *ngFor="let element of row">
                <button id={{element}} no-margin ion-button color="light" [disabled]="true" (click)="matrixTouched(element, $event)"></button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item id="pixel_buttons">
        <button inline ion-button icon-end full color="secondary" class="tr" (click)="confirmPixels()">
         {{"CONFIRM_PIXEL_ATTRIBUTION_BUTTON" | translate}}
          <ion-icon color="secondary" ios="ios-confirm-attribution" md="md-confirm-attribution"></ion-icon>
        </button>
      <button ion-button icon-end full color="secondary" class="tr" (click)="undoPixel()">
        {{"RETURN_PIXEL_ATTRIBUTION_BUTTON" | translate}}
        <ion-icon color="secondary" ios="ios-return-attribution" md="md-return-attribution"></ion-icon>
      </button>
    </ion-item>



</ion-content>

<ion-footer>
  <button ion-button icon-end full color="secondary" class="tr" (click)="goToMeshPage()">
    {{"MESH_PAGE_BACK_BUTTON" | translate}}
    <ion-icon color="secondary" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </button>
</ion-footer>
