page-grid {
    ion-item.item {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
        color: #fff;
    }

    ion-input {
        input {
            text-align: right;
       }
    }

    ion-grid {
        align-items: center;
    }


    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
        text-align: center;
        color: white;

    }

    ion-card.label {
        color: white;
    }

}
