page-tetris-joystick {
    // .scroll-content {
    //     padding:0px!important;
    // } 

    #joystick {
        height: 90vh;
        width: 90vw;

        position: absolute;
        top: 50%; 
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%);
    }
}

