<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/connection"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"f_app.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-fapp-list>
  </app-fapp-list>
</ion-content>

<ion-footer
  ><ion-button
    fill="clear"
    class="ion-no-margin bg_arbalet"
    routerLink="/home"
    expand="full"
  >
    {{ "action.disconnect" | translate }}
    <ion-icon color="success" slot="end" name="power"></ion-icon>
  </ion-button>
</ion-footer>
