<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo" src="assets/img/logo/frontage_white.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="statusServer;else serverUnreachable">
    <form [formGroup]="form">
      <ion-item>
        <ion-label
          >{{ "connection.form.username_label" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
    </form>
    <ion-button outline *ngIf="facadeUp;else messageError">
      {{ "connection.form.title_submit" | translate }}</ion-button
    >
    <ng-template #messageError>
      <h2>{{ messageKey | translate }} {{ subMessage }}</h2>
    </ng-template>
  </div>

  <ng-template #serverUnreachable>
    <server-unreachable></server-unreachable>
  </ng-template>
</ion-content>

<ion-footer *ngIf="!statusServer">
  TODO : Tetris
</ion-footer>
