<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo" src="assets/img/logo/frontage_white.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="statusServer;else serverUnreacheable">
    <div>
      TODO
    </div>
    <ion-button *ngIf="facadeUp;else messageError"></ion-button>
    <ng-template #messageError> 
      <h2>{{ messageKey | translate }} {{ subMessage }}</h2>
    </ng-template>
  </div>

  <ng-template #serverUnreacheable>
    <server-unreacheable></server-unreacheable>
  </ng-template>
</ion-content>

<ion-footer *ngIf="!statusServer">
  TODO : Tetris
</ion-footer>
