<ion-header translucent>
  <app-header-options [name]="fApp.name"></app-header-options>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="fApp.params_list">
    <!-- <ion-radio-group (ionChange)="onChange($event)">
      <ion-list-header>
        {{ "f_app." + fApp.name + ".options.list" | translate }}
      </ion-list-header>
      <ion-item *ngFor="let parameter of fApp.params_list.flags">
        <ion-label>{{ "countries." + parameter | translate}}</ion-label>
        <ion-radio slot="start" value="{{ parameter }}"></ion-radio>
      </ion-item>
    </ion-radio-group> -->
    <app-radio-list
      (ionChange)="onChange($event)"
      [list]="fApp.params_list.flags"
      [keyHeader]="'f_app.' + fApp.name + '.options.list'"
      [keyLabel]="'countries.'"
    >
    </app-radio-list>
  </ion-list>
</ion-content>

<ion-footer>
  <app-footer-options
    [name]="fApp.name.toLowerCase()"
    [disabled]="chooseValue"
    (launch)="startFApp()"
  ></app-footer-options>
</ion-footer>
