<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'admin.settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          fill="clear"
          class="ion-no-margin"
          expand="full"
          (click)="clearUserQueue()"
          color="warning"
        >
          {{ "admin.settings.clear" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-list
          labelKey="admin.settings.label.start"
          [list]="timeListOptions"
          (ionChange)="setTime($event, true)"
          [default]="defaultTimeOn"
        ></app-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-list
          labelKey="admin.settings.label.stop"
          [list]="timeListOptions"
          (ionChange)="setTime($event, false)"
          [default]="defaultTimeOff"
        ></app-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"
            >{{ "admin.settings.label.lifetime" | translate }}
          </ion-label>
          <ion-input
            type="number"
            [value]="defaultLifeTime"
            min="30"
            max="1800"
            (ionChange)="updateLifeTime($event)"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
