<!--
  Generated template for the SnapJoystickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{"SNAP_JOYSTICK_PAGE_TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-item text-wrap>
    {{"SNAP_JOYSTICK_INFO" | translate}}
  </ion-item>

  <div *ngIf="selectedClient && clientsList; else elseBlock;">
    <ion-list *ngFor="let client of clientsList" radio-group [(ngModel)]="selectedClient">
      <ion-item text-wrap >
        <ion-label >{{client}}</ion-label>
        <ion-radio (ionSelect)="authorize()" value="{{client}}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button ion-button icon-end full color="danger" class="tr" (click)="stopFApp()">
    {{"SETTINGS_PAGE_UNFORCE_BUTTON" | translate}}
    <ion-icon color="danger" ios="ios-close-circle" md="md-close-circle"></ion-icon>
  </button>
</ion-footer>
