<!--
  Generated template for the SnapJoystickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-header>
    <ion-title>{{"SNAP_JOYSTICK_PAGE_TITLE" | translate}}</ion-title>
  </ion-header>

</ion-header>

<ion-content padding class="bg">

  <button ion-button class="tr" (click)="getClientsInfo()">Get Clients</button>

  <div *ngIf="selectedClient && clientList">
      <ion-list *ngFor="let client of clientList" radio-group [(ngModel)]="selectedClient">
        <ion-item>
          <ion-label>{{selectedClient}}</ion-label>
          <ion-radio value="{{selectedClient}}"></ion-radio>
        </ion-item>
      </ion-list>
  </div>

</ion-content>

<ion-footer>
  <button ion-button icon-end full color="secondary" class="tr" (click)="stopFApp()">
    {{"STOP_APP" | translate}}
    <ion-icon color="secondary" ios="ios-flag" md="md-flag"></ion-icon>
  </button>
</ion-footer>