<ion-header>
  <ion-title>{{"SETTINGS_PAGE_TITLE" | translate}}</ion-title>
</ion-header>

<ion-content padding class="bg">
  <ion-item>
    <button ion-button full icon-end color="danger" class="tr" (click)="clearUserQueue()">
      {{"SETTINGS_PAGE_CLEAR_QUEUE_BUTTON" |translate}}
      <ion-icon color="danger" ios="ios-trash" md="md-trash"></ion-icon>
    </button>
  </ion-item>
  <ion-item>
    <ion-label>{{"SETTINGS_PAGE_OPENING_HOUR" | translate}}</ion-label>
    <ion-select *ngIf="openingHourList" [(ngModel)]="selectedOpeningHour" (ionChange)="setOpeningHour()">
      <ion-option *ngFor="let openingHour of openingHourList">{{openingHour}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{"SETTINGS_PAGE_CLOSING_HOUR" |translate}}</ion-label>
    <ion-select *ngIf="closingHourList" [(ngModel)]="selectedClosingHour" (ionChange)="setClosingHour()">
      <ion-option *ngFor="let closingHour of closingHourList">{{closingHour}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{"SETTINGS_PAGE_SHUTDOWN_FRONTAGE_BUTTON" | translate}}</ion-label>
    <ion-select *ngIf="frontageStateList" [(ngModel)]="selectedFrontageState" (ionChange)="updateFrontageState()">
      <ion-option *ngFor="let frontageState of frontageStateList" [value]="frontageState.value">{{frontageState.label}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{"SETTINGS_PAGE_DEFAULT_LIFETIME" | translate}}</ion-label>
    <ion-input type="number" [(ngModel)]="lifetime" min="30" max="1800" (ionChange)="updateLifetime()"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button icon-end full color="secondary" class="tr" (click)="goToFappList()">
    {{"SETTINGS_PAGE_BACK_BUTTON" | translate}}
    <ion-icon color="secondary" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </button>
</ion-footer>
