<ion-header>
  <ion-navbar>
    <ion-title>{{"FLAGS_OPTIONS_PAGE_TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div *ngIf="parametersList">
    <ion-list radio-group [(ngModel)]="selectedParameter">
      <ion-list-header>
        {{"FLAGS_OPTIONS_PAGE_LIST" | translate}}
      </ion-list-header>
      <ion-item *ngFor="let flag of parametersList">
        <ion-label>{{ flag | uppercase | translate}}</ion-label>
        <ion-radio value="{{ flag }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #elseBlock>
    <ion-item>
      <ion-label>{{"FLAGS_OPTIONS_PAGE_QUEUE_ALERT" | translate}} {{fAppPosition}}</ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <div *ngIf="fAppPosition === -1; else elseBlock;">
    <button ion-button icon-end full color="secondary" class="tr" (click)="startFapp()">
      {{"FLAGS_OPTIONS_PAGE_START_BUTTON" | translate}}
      <ion-icon color="secondary" ios="ios-flag" md="md-flag"></ion-icon>
    </button>
  </div>
</ion-footer>