<!--
  Generated template for the FlagsOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>flagsOptions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="parametersList">
    <ion-list radio-group [(ngModel)]="selectedParameter">
      <ion-list-header>
        Flags list
      </ion-list-header>
      <ion-item *ngFor="let flag of parametersList">
        <ion-label>{{ flag }}</ion-label>
        <ion-radio value="{{ flag }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>