<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="settings">
      <ion-label>{{ 'admin.settings.title' | translate}}</ion-label>
      <ion-icon name="options-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="scheduling">
      <ion-label>{{ 'admin.scheduling.title' | translate}}</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
      <!-- <ion-icon name="apps-outline"></ion-icon> -->
    </ion-tab-button>
    <ion-tab-button tab="fapp">
      <ion-label>{{ 'admin.fapp.title' | translate}}</ion-label>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-label>Déconnexion</ion-label>
      <ion-icon name="power-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
