page-drawing-joystick {
    ion-item.item, ion-list-header.list-header {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    a, p, ion-item.item{
        color: #fff;
    }

    .DrawingJoystick {
        display: flex;
        flex-direction: column;
        height: calc(100% + 40px);
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .card-md {
      background: none !important;
      box-shadow: none !important;
    }

    #ColourPalette {
      z-index: 5000;
      max-width: 100%;
    }

    #DrawingMatrix {
      max-height: 100%;
    }

    ion-button {
      background: #000000;
    }
    ion-grid {
        align-items: center;
    }
}
