<div class="ion-page"> 
  <ion-header translucent *ngIf="displayHeader === true">
    <ion-toolbar>
      <ng-container
        *ngTemplateOutlet="headerTemplate ? headerTemplate : titleBackHeader"
      ></ng-container>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ng-content></ng-content>
  </ion-content>

  <ion-footer translucent *ngIf="displayFooter === true">
    <ng-container
      *ngTemplateOutlet="footerTemplate ? footerTemplate : defaultFooter"
    ></ng-container>
  </ion-footer>
</div>

<ng-template #titleHeader>
  <ion-title>{{ titleKey | translate }}</ion-title>
</ng-template>

<ng-template #titleBackHeader>
  <ion-buttons slot="start">
    <ion-back-button [defaultHref]="default"></ion-back-button>
  </ion-buttons>
  <ion-title>{{ titleKey | translate }}</ion-title>
</ng-template>

<ng-template #defaultFooter>
  <ion-button
  fill="clear"
  class="ion-no-margin"
  expand="full"
  (click)="clickButton.emit()"
>
  {{ footerKey | translate }}
  <ion-icon slot="end" color="success" [name]="footerIcon"></ion-icon>
</ion-button>
</ng-template>
