<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ "f_app." + fApp.name + ".name" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-radio-list
  (ionChange)="sendOption($event)"
  [list]="fApp.params_list.flags"
  [keyLabel]="'countries.'"
></app-radio-list>
</ion-content>

<ion-footer>
  <ion-button (click)="stopFApp()">
    {{ "app.stop" | translate }}
    <ion-icon slot="end" color="success" name="flag"></ion-icon>
  </ion-button>
</ion-footer>
