page-f-app-list {

    ion-card.card, ion-col.col {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    ion-item.item {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    a, p, ion-item.item{
        color: #fff;
    }
    
    #text{
        color: white;
    }

    .scroll-content {
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
