
ion-item {
    color: inherit;
    --background: var(--af-bg-color);
}

h2, p { // TODO : change
     color: white;
}

.border-green {
    border : solid 3px #26ad11;
    border-radius: 50%;
}

.border-red {
    border : solid 3px #db1616;
    border-radius: 50%;

}