page-error {

    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    ion-card-header.card-header, ion-card-content.card-content {
        color: rgb(253, 252, 252);
    }
}
