<ion-header>
  <app-header (tap)="headerTapEvent($event)"></app-header>
</ion-header>

<ion-content class="bg">
  <ion-card>
    <div *ngIf="isServerUp; else serverUnreachableBlock;">
      <ion-card-header>
        {{"LOGIN_PAGE_FORM_TITLE" | translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="item-login">
            <ion-input placeholder="{{'LOGIN_PAGE_USER_LABEL' | translate}}" [(ngModel)]="userName" type="text" clearInput></ion-input>
          </ion-item>
          <ion-item class="item-login" *ngIf="isPwdDisplayed">
            <ion-input placeholder="{{'LOGIN_PAGE_PWD_LABEL' | translate}}" [(ngModel)]="password" type="password" clearInput></ion-input>
          </ion-item>
          <ion-label *ngIf="isRefused && isPwdDisplayed" color="danger">{{"LOGIN_PAGE_ACCESS_ERROR" | translate}}</ion-label>
        </ion-list>

        <div *ngIf="isFacadeUp || (isPwdDisplayed && isServerUp); else elseBlock;">
          <button ion-button block outline color="light" (click)="start()">{{"LOGIN_PAGE_START_BUTTON" | translate}}</button>
        </div>

        <ng-template #elseBlock>
          <div *ngIf="isStateOff; else else2Block;">
            <h2>{{"LOGIN_PAGE_FRONTAGE_NOT_AVAILABLE" | translate}}</h2>
          </div>
          <ng-template #else2Block>
            <div *ngIf="isForced; else else3Block;">
              <h2>{{"LOGIN_PAGE_FRONTAGE_FORCED" | translate}}</h2>
            </div>
            <ng-template #else3Block>
              <div>
                <h2>{{"LOGIN_PAGE_FRONTAGE_DOWN_ALERT" | translate}} {{nextTime | date:"HH'h'mm"}}</h2>
              </div>
            </ng-template>
          </ng-template>
        </ng-template>
      </ion-card-content>
    </div>

    <ng-template #serverUnreachableBlock>
      <div>
        <ion-card-header text-wrap>
          {{"LOGIN_PAGE_FORM_TITLE_SERVER_UNREACHABLE" | translate}}
        </ion-card-header>

        <ion-item text-wrap class="tr">
          <ion-icon color="secondary" name="walk" item-start></ion-icon>
          1. {{"LOGIN_PAGE_FRONTAGE_NOT_AVAILABLE_EXPLANATION_STEP1" | translate}}
        </ion-item>
        <ion-item text-wrap class="tr">
          <ion-icon color="secondary" name="wifi" item-start></ion-icon>
          2. {{"LOGIN_PAGE_FRONTAGE_NOT_AVAILABLE_EXPLANATION_STEP2" | translate}}
        </ion-item>
        <ion-item text-wrap class="tr">
          <ion-icon color="secondary" name="game-controller-b" item-start></ion-icon>
          3. {{"LOGIN_PAGE_FRONTAGE_NOT_AVAILABLE_EXPLANATION_STEP3" | translate}}
        </ion-item>
      </div>
    </ng-template>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item text-wrap class="tr" *ngIf="!isServerUp">
    <ion-icon color="primary" name="game-controller-a" item-start></ion-icon>
    {{"LOGIN_PAGE_TETRIS_INVITATION" | translate}}
  </ion-item>
  <button class="tr" *ngIf="!isServerUp" ion-button icon-end full (click)="startTetrisBlock()">
    {{"TETRIS_BLOCK" | translate}}
    <ion-icon color="primary" ios="ios-log-in" md="md-log-in"></ion-icon>
  </button>
</ion-footer>