
page-login {
    .scroll-content {
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    a, p, ion-card-header.card-header {
        color: #fff;
    }

    h2 {
        color: rgb(255, 0, 0)!important;
    }

    .list > .item-block:first-child {
        border: medium none;
    }

    .list > .item-block .item-inner {
        border: medium none;
    }

    .item {
        margin-bottom: 10px;
        background: rgba(255,255,255,0.5);
        border: medium none;

        .text-input {
            color: #fff;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }
    }
}

