
page-login {
    .bg {
        background-image: url('../../assets/img/background.png');
        background-size:cover;
    }

    .tr {
        background: transparent; 
    }

    ion-header {
        padding: 10px;
    }

    ion-footer {
        background: rgba(0,0,0,0.5);
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    a, p, ion-card-header.card-header {
        color: #fff;
    }

    .list > .item-block:first-child {
        border: medium none;
    }

    .list > .item-block .item-inner {
        border: medium none;
    }

    .item {
        margin-bottom: 10px;
        background: rgba(255,255,255,0.5);
        border: medium none;

        .text-input {
            color: #fff;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }
    }
}

