<ion-list>
  <ng-container
    *ngFor="let fapp of list"
    [ngTemplateOutlet]="adminView !== undefined ? admin : user"
    [ngTemplateOutletContext]="{ fapp: fapp }"
  >
  </ng-container>
</ion-list>

<ng-template let-fapp="fapp" #user>
  <ion-item [routerLink]=' "/f-app/" + fapp.name.toLowerCase() + "/options"'>
    <ion-thumbnail slot="start">
      <img src="assets/icon/apps/{{ fapp.name }}.svg" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ "f_app." + fapp.name + ".name" | translate }}</h2>
      <p class="ion-text-wrap">
        {{ "f_app." + fapp.name + ".description" | translate }}
      </p>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template let-fapp="fapp" #admin>
  <ion-item [routerLink]='"/admin/tabs/scheduling/" + fapp.name.toLowerCase()'>
    <ion-thumbnail slot="start">
      <img src="assets/icon/apps/{{ fapp.name }}.svg" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ "f_app." + fapp.name + ".name" | translate }}</h2>
      <p class="ion-text-wrap">
        {{ "f_app." + fapp.name + ".description" | translate }}
      </p>
    </ion-label>
  </ion-item>
</ng-template>
