.logo {
    height: 3rem;
    width: 16rem;
}

ion-button:hover {
    background: green;
}

.flag {
    border-radius: 5px !important;
    overflow: hidden;
}

@media(min-width: 768px) {
    .flag {
        width: 40%;
        height: 70%;
    }
}
