page-offline-tetris {
* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:0;
	margin:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#container {
	color:#232323;
	position:absolute;
	left:50%;
	top:calc(10%);
	text-align:center;
	transform:translate(-50%, -50%);
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#ffffff;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
    display:none;
}

a {
	color:#232323;
}
/* .navbar {
	width:80%;
	margin:0 auto;
	padding:2.5vmin 0;
	text-align:center;
} */
/* .navbar li {
	display:inline-block;
	text-align:center;
	width:calc(33% - 1.25vmin);
} */

#title {
	color:#ecf0f1;
	font-size:6vmin;
}

#score {
	font-size:4vmin;
	text-align:center;
	width:30%;
}

.not-visible {
	display:none;
}

button {
	color:#ecf0f1;
	background-color:rgba(0,0,0,0);
	border:0;
}

button:focus {
	outline:0;
}

#helpBtn {
	position:fixed;
	margin-bottom:7px;
	margin-right:calc(50% - 37.5px);
	color:#232323;
	cursor:pointer;
	right:0;
	bottom:0;
	z-index:99;
}

#pauseBtn {
	display:none;
	position:fixed;
	margin-bottom:7px;
	margin-right:11px;
	color:#232323;
	cursor:pointer;
	right:0;
	bottom:0;
	z-index:99;
}

#restartBtn {
	position:fixed;
	margin-bottom:7px;
	margin-left:11px;
	color:#232323;
	cursor:pointer;
	bottom:0;
	z-index:99;
}

#startBtn {
	position:absolute;
	left:40%;
	top:38%;
	height:25%;
	width:25%;
	z-index:99999999;
	cursor:pointer;
}

#pauseScreen {
	height:100%;
	width:100%;
	z-index:89;
	position:fixed;
	top:0;
	margin:0;
	font-size:15px;
	text-align:center;
	display:none;
	color:#ffffff;
	background-color:rgba(0,0,0,0.85);
}

#helpScreen {
	height:100%;
	width:100%;
	z-index:90;
	position:fixed;
	top:0;
	margin:0;
	font-size:15px;
	text-align:center;
	display:none;
	color:#ffffff;
	background-color:rgba(0,0,0,0.85);
}

#pause_main_body {
	padding:0px;
	font-size:1.2em;
	left:50%;
	top:50%;
	position: absolute;
	text-align:left;
	max-width:400px;
	/*margin-top:30px;*/
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}

#inst_main_body {
	padding:0px;
	font-size:1.2em;
	left:50%;
	top:50%;
	position: absolute;
	text-align:left;
	max-width:400px;
	width:90%;
	/*margin-top:30px;*/
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}

#inst_main_body > p {
	margin-bottom:15px;
}

#instructions_head {
	text-align:center;
	font-size:1.5em;
	padding-bottom:4px;
}

.helpText {
	z-index:3001;
}

* {
	padding:0;
	margin:0;
}

body {
	color:#ecf0f1;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:#ecf0f1;
}

#clickToExit {
	cursor:pointer;
}

#title {
	z-index:99;
	margin-top:20px;
	color:#2c3e50;
}

.unselectable {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

body {
	overflow:hidden;
}

#gameoverscreen {
	padding:8px;
}

.GOTitle {
	font-weight:bold;
	font-size:24.2000px;
}

#cScore {
	font-size:60.5000px;
	font-weight:light;
	margin-bottom:5px;
	margin-top:-10px;
}

.score {
	font-weight:light;
	line-height:18px;
}
}
